NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="<reown-project-id>"
BACKEND_BASE_URL="<backend-base-url>"

# BlockDAG Primordial Addresses
NEXT_PUBLIC_PRIMORDIAL_CONTRACT_ADDRESS="<deployed-contract-address>"
NEXT_PUBLIC_PRIMORDIAL_RACE_COIN_ADDRESS="<token-address>"
