# Sepolia Network Url
SEPOLIA_NETWORK_URL="<your-network-url>"

# Contract Deployer Private Key
PRIVATE_KEY="<deployer-private-key>"

# Deployed Contract Address
CONTRACT_ADDRESS="<your-contract-address>"

# ERC20 Token Address
TOKEN_ADDRESS="<token-address>"
